@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto Condensed", sans-serif;
}
/* Root Variables */
:root {
    --clr-background: #f5f5f5;
    --clr-dark: #1a1a1a;
    --clr-light: #f5f5f5;
    --clr-text: #161616;
    --clr-text-light: #eaeaea;
    --clr-accent: #004bfa;
    --clr-border: #1a1a1a;
    --clr-svg-fill: #1a1a1a;
    --font-hero: clamp(3rem, 4.4vw + 1rem, 8rem);
    --font-lg: clamp(1.5rem, 2vw + 1rem, 3rem);
    --font-xxsm: 0.65rem;
    --font-xsm: 0.82rem;
    --font-sm: 1rem;
    --font-md: 1.32rem;
    --font-lg: 1.75rem;
    --font-xlg: 2rem;
}
html {
    scroll-behavior: smooth;
}
button {
    cursor: pointer;
    transition: 240ms ease;
}
li,
 a {
    text-decoration: none;
    list-style-type: none;
    color: var(--clr-text);
}
a {
    cursor: pointer;
    transition: 240ms ease;
}
svg {
    fill: var(--clr-svg-fill);
    transition: 240ms ease;
}
body {
    width: 100vw;
    background-color: var(--clr-background);
    color: var(--clr-text);
    display: grid;
    grid-template-rows: repeat(3, auto);
    grid-template-areas: 
        "header"
        "main"
        "footer";
    gap: 2.5rem;
    justify-content: center;
    position: relative;
}
.dark-mode {
    --clr-background: #0f0f0f;
    --clr-text: #eaeaea;
    --clr-border: #8a8a8a;
    --clr-svg-fill: #eaeaea;
}
header,
main,
footer {
    max-width: 112.5rem;
    padding-inline: 2rem;
}
.navbar {
    top: 0;
    right: 0;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 999;
    padding-inline-end: 2rem;
    background-color: #ededed00;
    backdrop-filter: blur(12px);
}

.logo {
    height: 80px;
    width: 100%;
    font-size: 3rem;
    font-weight: 600;
    padding-block: 0.5rem;
}

.nav-buttons {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.btn-sub {
    height: 40px;
    padding-block: 0.5rem;
    padding-inline: 0.75rem;
    border: 1px solid var(--clr-accent);
    background-color: var(--clr-accent);
    font-weight: 300;
    letter-spacing: 1px;
    font-size: var(--font-xsm);
    color: var(--clr-text-light);
}
.btn-sub:hover {
    background-color: transparent;
    color: var(--clr-accent);
    border: 1px solid var(--clr-accent);
    
}

.theme-toggle {
    width: 70px;
    height: 35px;
    background-color: rgba(190, 190, 190, 0.606);
    border: none;
    margin-inline: 2rem 1.5rem;
    border-radius: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.25rem;
    cursor: pointer;
    position: relative;
}
.dark-mode-icon,
.light-mode-icon {
    width: 25px;
    height: 25px;
}
.toggle-ball {
    height: 30px;
    width: 30px;
    top: 0.25rem;
    right: 0.25rem;
    border-radius: 50%;
    position: absolute;
    background-color: var(--clr-light);
    transform: translateY(-5%) translateX(5%);
    transition: 240ms ease;
}
.toggle-ball.active {
    transform: translateY(-5%) translateX(-110%)
}
.menu-toggle {
    width: 40px;
    height: 40px;
    border: none;
    background-color: transparent;
}
.menu-toggle img {
    width: 100%;
    height: 100%;
}
.primary-navigation {
    top: 0;
    right: 0;
    width: 65vw;
    height: 100vh;
    padding-inline: 2rem;
    padding-block: 6rem 1rem;
    position: absolute;
    background-color: var(--clr-background);
    display: grid;
    grid-template-rows: repeat(3, auto);
    grid-template-areas: 
        "nav-search"
        "nav-list"
        "nav-footer";
    gap: 3rem;
    z-index: 999;
    color: var(--clr-text);
    transform: translateX(100%);
    transition: 240ms ease;
}
.primary-navigation.active {
    transform: translateX(0%);
}

.primary-navigation a:hover {
    color: var(--clr-accent);
}
.search {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 2rem;
}
.language-selector {
    display: flex;
    gap: 1rem;
    align-items: center;
    font-size: var(--font-xsm);
    font-weight: 360;
}

.search-input {
    height: 50px;
    width: 60%;
    font-size: var(--font-md);
    border: none;
    background-color: transparent;
    border-bottom: 1px solid var(--clr-border);
}
.navigation-area {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: repeat(2, auto);
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: 
        "list-1 list-2"
        "list-3 list-4";
    gap: 1rem;
}

.list-category {
    font-size: var(--font-xsm);
    font-weight: 360;
    margin-block-end: 1rem;
}

.primary-nav-list {
    margin-block-end: 1rem;
}
.primary-nav-list:hover {
    .right-arrow {
        fill: var(--clr-accent);
    }
}

.primary-nav-list a {
    font-size: var(--font-md);
}
.primary-nav-list a svg {
    transform: translateY(0.25rem);
}

.nav-footer {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: 
        "legals socials";
    gap: 1rem;
}
.nav-footer span {
    display: flex;
    gap: 2rem;
    font-size: var(--font-xsm);
    font-weight: 360;
}
.nav-socials {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: start;
    justify-content: start;
}
.nav-socials a {
    cursor: pointer;
}
.nav-socials a:nth-child(2),
.nav-socials a:nth-child(3),
.nav-socials a:nth-child(4),
.nav-socials a:nth-child(5) {
    margin-left: -2rem;
} 

.nav-socials svg:hover {
    fill: var(--clr-accent);
}

.hero {
    width: 100%;
    display: grid;
    grid-template-rows: repeat(3, auto);
    grid-template-areas: 
        "hero-date"
        "hero-title"
        "hero-img";
    margin-block-start: 6rem;
}

.hero > span:nth-child(1) {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    gap: 30vw;
    border-block-end: var(--clr-border) 1px solid;
    font-size: var(--font-xsm);
}
.title-area {
    width: 100%;
    height: auto;
    margin-block: 1rem 2rem;
}
.title-area h1 {
    font-size: var(--font-hero);
    text-transform: uppercase;
    font-weight: 450;
    line-height: 1;
}
.hero-image {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.hero-image figure {
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.hero-image figure img {
    max-height: 95vh;
    width: 100%;
    object-fit: cover;
    object-position: 50% 70%;
}
figcaption {
    flex: 1;
    width: 100%;
    height: 100%;
    font-size: var(--font-xxsm);
    letter-spacing: 1px;
    padding-block: 0.5rem;
}

main {
    min-height: 100vh;
    display: grid;
    grid-template-rows: repeat(3, auto);
    grid-template-areas: 
        "intro"
        "gallery"
        "info";
    gap: 2.5rem;
}
.intro {
    width: 100%;
}
.intro-article {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-inline-end: 2rem;
}
.intro h2 {
    font-size: var(--font-lg);
    font-weight: 400;
}
.intro p {
    font-size: var(--font-lg);
    font-weight: 350;
    max-width: 71ch;
    line-height: 1.5;
    text-align: start;
}
.gallery {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, minmax(300px, 1fr));
    grid-template-rows: repeat(2, minmax(300px, 1fr));
    grid-template-areas: 
        "img1 img2 img3"
        "img4 img5 img6";
    gap: 1rem;
    overflow: hidden;
    margin-bottom: 2rem;
}
.gallery-img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    object-position: 50% 80%;
    font-style: italic;
}
.info {
    width: 100%;
    min-height: 50vh;
    display: flex;
    gap: 1.5rem;
    position: relative;
}
.info aside {
    top: 0px;
    width: 100%;
    height: 20%;
    flex: 1;
    position: sticky;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    font-size: var(--font-xsm);
    font-weight: 360;
}
.info aside ul li {
    padding-block: 1rem;
    border-block-end: 1px solid var(--clr-border);
}
.info aside ul li:first-child {
    border-block-start: 1px solid var(--clr-border);
}
.info aside ul li:hover {
    .aside-links {
        transform: translateX(10px);
    }
}
.aside-links {
    cursor: pointer;
    transition: all 240ms ease;
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

.info aside p {
    max-width: 55ch;
    line-height: 1.8;
    font-weight: 350;
    letter-spacing: 0.75px;
    text-transform: uppercase;
}
.info aside p span a {
    font-weight: 500;
    transition: all 240ms ease;
}
.info aside p span a:hover {
    color: var(--clr-accent);
}
.info article {
    flex: 2;
}
.info article p {
    max-width: 62ch;
    font-weight: 350;
    line-height: 1.5;
    font-size: var(--font-md);
    margin-bottom: 2rem;
}
.word-o-mouth {
    padding: 2.5rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    max-width: 20ch;
    background-color: var(--clr-accent);
    color: var(--clr-text-light);
}
.word-o-mouth span {
    font-size: var(--font-sm);
    letter-spacing: 1px;
    font-weight: 300;
    text-transform: uppercase;
}

/* Footer */
.footer {
    width: 100%;
    padding-block: 2rem;
    display: grid;
    grid-template-rows: repeat(2, auto);
    grid-template-areas: 
        "car-info"
        "footer-nav";
    gap: 2rem;
}
.footer h2 {
    font-size: var(--font-xlg);
    font-weight: 400;
    margin-bottom: 1rem;
}
.car-consumption-info li {
    padding-block: 1rem;
    border-block-end: 1px solid var(--clr-border);
    text-transform: uppercase;
    font-size: var(--font-xsm);
    font-weight: 360;
    letter-spacing: 1px;
    line-height: 1.5;
    display: flex;
    justify-content: space-between;
}
.car-consumption-info li:first-child {
    border-block-start: 1px solid var(--clr-border);
}
.car-consumption-info li p {
    max-width: 145ch;
}
.car-consumption-info li a {
    display: flex;
    align-items: center;
    gap: 0.25rem;
}
.footer-info {
    width: 100%;
    padding-block: 4rem;
    display: grid;
    grid-template-rows: 1fr 2fr;
    grid-template-columns: repeat(2, auto);
    grid-template-areas: 
        "footer-logo footer-logo"
        "company-info footer-navigation";
    gap: 0.25rem;
}

.footer-info div {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.footer-info div p {
    max-width: 55ch;
    font-size: var(--font-xsm);
    font-weight: 360;
    line-height: 1.5;
    letter-spacing: 0.5px;
}
.nav-secondary {
    width: 100%;
    height: 100%;
    display: grid;
    display: flex;
    flex-direction: column;
    font-size: var(--font-xsm);
    font-weight: 360;
}
.socials {
    word-wrap: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
}
.socials span {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.4rem;
}
.socials span svg {
    cursor: pointer;
}
.socials span svg:hover {
    fill: var(--clr-accent);
}
.language-wrapper {
    height: 100%;
    width: 100%;
    flex: 3;
}
.language-wrapper span {
    height: 100%;
    width: 100%;
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}
.lang-icon {
    width: 25px;
    height: 25px;
}
.language-wrapper a:hover {
    color: var(--clr-accent);
}
.footer-nav-wrapper {
    flex: 2;
}
.footer-nav-wrapper span {
    height: 100%;
    width: 100%;
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: center;
}
.footer-nav-list li {
    margin-block-end: 0.75rem;
}

.footer-links:hover {
    color: var(--clr-accent);
}